In [1]:

import pandas as pd 

import cx_Oracle

In [2]:
# connecting mysql server
con = cx_Oracle.connect('system/1329@localhost')

In [3]:
cursor = con.cursor()

In [4]:
sql="select * from Customer"
query2=cursor.execute(sql)

In [5]:
#print(cursor.fetchall())

In [6]:
df = pd.read_sql('SELECT * FROM Customer', con) 
table=pd.DataFrame(df)

In [7]:
table

,CUSTOMER_NAME,CUSTOMER_ID,CUSTOMER_OPEN_DATE,LASTCONSULTED_DATE,VACCINATION_TYPE,DOCTOR_CONSULTED,STATE,COUNTRY,POST_CODE,DATE_OF_BIRTH,ACTIVE_CUSTOMER
0,Alex,101,20210607,20210706,MVD,paul,SA,USA,400012,19971213,A
1,John,102,20210607,20210706,MVD,paul,TN,IND,400015,19971213,A
2,Mathew,103,20210607,20210706,MVD,paul,WAS,PHIL,400018,19971213,A
3,Matt,104,20210607,20210706,MVD,paul,BOS,NYC,400020,19971213,A
4,Jacob,105,20210607,20210706,MVD,paul,VIC,AU,400021,19971213,A
5,Mat,106,20210607,20210706,MVD,paul,WAS,IND,400015,19971213,A

In [8]:
# fitting into pandas dataframe
df.set_index(['CUSTOMER_ID'], inplace=True)

In [9]:
# setting default index# print (df)
ans = df.loc[df['COUNTRY'] == "IND"] 
def show_data(COUNTRY): 
    data = df.loc[df['COUNTRY'] == COUNTRY] 
    print(data)

In [10]:
def get_file(COUNTRY): 
        data = df.loc[df['COUNTRY'] == COUNTRY] 
        file_name = str(COUNTRY) 
        data.to_csv('C:/Users/Lay Desai/Desktop/sql/' + COUNTRY + ".csv")

In [11]:
s=df['COUNTRY']
print(s)

CUSTOMER_ID
101     USA
102     IND
103    PHIL
104     NYC
105      AU
106     IND
Name: COUNTRY, dtype: object

In [12]:
cn=[]
for count in s:
    if count not in cn:
        cn.append(count)
        show_data(count)
        get_file(count)

            CUSTOMER_NAME  CUSTOMER_OPEN_DATE  LASTCONSULTED_DATE  \
CUSTOMER_ID
101                  Alex            20210607            20210706

            VACCINATION_TYPE DOCTOR_CONSULTED STATE COUNTRY  POST_CODE  \
CUSTOMER_ID
101                    MVD              paul     SA     USA     400012

             DATE_OF_BIRTH ACTIVE_CUSTOMER
CUSTOMER_ID
101               19971213               A
            CUSTOMER_NAME  CUSTOMER_OPEN_DATE  LASTCONSULTED_DATE  \
CUSTOMER_ID
102                  John            20210607            20210706
106                   Mat            20210607            20210706

            VACCINATION_TYPE DOCTOR_CONSULTED STATE COUNTRY  POST_CODE  \
CUSTOMER_ID
102                    MVD              paul     TN     IND     400015
106                    MVD              paul    WAS     IND     400015

             DATE_OF_BIRTH ACTIVE_CUSTOMER
CUSTOMER_ID
102               19971213               A
106               19971213               A
            CUSTOMER_NAME  CUSTOMER_OPEN_DATE  LASTCONSULTED_DATE  \
CUSTOMER_ID
103                Mathew            20210607            20210706

            VACCINATION_TYPE DOCTOR_CONSULTED STATE COUNTRY  POST_CODE  \
CUSTOMER_ID
103                    MVD              paul    WAS    PHIL     400018

             DATE_OF_BIRTH ACTIVE_CUSTOMER
CUSTOMER_ID
103               19971213               A
            CUSTOMER_NAME  CUSTOMER_OPEN_DATE  LASTCONSULTED_DATE  \
CUSTOMER_ID
104                  Matt            20210607            20210706

            VACCINATION_TYPE DOCTOR_CONSULTED STATE COUNTRY  POST_CODE  \
CUSTOMER_ID
104                    MVD              paul    BOS     NYC     400020

             DATE_OF_BIRTH ACTIVE_CUSTOMER
CUSTOMER_ID
104               19971213               A
            CUSTOMER_NAME  CUSTOMER_OPEN_DATE  LASTCONSULTED_DATE  \
CUSTOMER_ID
105                 Jacob            20210607            20210706

            VACCINATION_TYPE DOCTOR_CONSULTED STATE COUNTRY  POST_CODE  \
CUSTOMER_ID
105                    MVD              paul    VIC      AU     400021

             DATE_OF_BIRTH ACTIVE_CUSTOMER
CUSTOMER_ID
105               19971213               A